<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1><a href="/">My Gallery</a></h1>
        <h1><a href="/addNew">Add</a></h1>
    </div>
    <section>
        <img src=<%=result.ProductLink%> alt="">
        <h1>
            <%=result.Price %>
        </h1>
        <h1>
            <%=result.Company %>
        </h1>

        <a href=<%=`/update/${result._id}`%>>Update</a>
        <a href=<%=`/delete/${result._id}`%>>Delete</a>
    </section>

</body>

</html>